.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: 4rem 1.5rem;
}

.empty div strong {
  display: block;
  font-weight: 700;
  color: var(--gray-300);
  text-align: center;
}

.empty div span {
  display: block;
  color: var(--gray-300);
  text-align: center;
  margin-top: 0.1rem;
}