.formNewTask {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -2.5rem;
  width: 100%;
}

.formNewTask input[type=text] {
  background: var(--gray-500);
  border: 0;
  padding: 1.6rem;
  height: 54px;
  border-radius: 8px; 
  width: 63.8rem;
  color: var(--gray-300);
  
  margin-right: 0.8rem;
}

.formNewTask button[type=submit] {
  background: var(--blue-500);
  color: var(--gray-100);
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 1.6rem;
  border: 0;
  border-radius: 8px;

  font-weight: bold;
  cursor: pointer;

  gap: 0.5rem;
  transition: background 0.1s;
}

.formNewTask button[type=submit]:hover {
  background: var(--blue-300);
}