main {
  max-width: 46rem;
  margin: 0 auto;
}

.newTask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: -2rem;
}

.newTask input {
  flex: 1;
  border: 0;
  background: var(--gray-500);
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
}

.newTask button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  border: 0;
  border-radius: 8px;
  padding: 1rem;
  background: var(--blue-500);
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;

  transition: background 0.09s;
}

.newTask button[type=submit]:hover {
  background: var(--blue-900);
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-top: 2.5rem;
}

.taskContainer > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.taskList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}
